.header {
    padding: 40px 0;
    text-align: left;
}

.header h1 {
    font-size: 40px;
    margin: 40px 40px 0px;
}

.header_logo {
    margin: 40px 40px 0px ;
}


.main {
    padding: 40px 0;
}

.card {
    width: 50%; 
    float: left;
    margin-bottom: 40px;
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.card_title {
    margin-bottom: 20px;
}

.card_item {
    max-width: 45%;
    height: 300px; 
    float: left; 
    margin-right: 20px;
}

footer {
    padding-right: 50px;
    text-align: right;
    font-size: 20px;
}


@media (max-width: 768px) {  
    .card_item {
        float: none; 
        display: block; 
        margin: 0 auto 20px; 
        max-width: 100%; 
    }
    .header h1{
        margin: 40px 40px 0px;
    }
    .header_logo{
        margin: 40px 40px 0px;
    }

    .card {
        width: 100%; 
    }

    .header h1 {
        font-size: 40px;
    }
}